<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yongyongwang.multimedia.choose">

    <application>
        <activity android:name=".MultimediaActivity" />
        <activity android:name=".MultimediaPreviewActivity" />
        <activity android:name=".MultimediaPlayerActivity" />
        <activity android:name=".camera.MultimediaCameraActivity" />
        <activity android:name=".MultimediaVoiceActivity" />
        <activity android:name=".crop.MultimediaCropActivity" />
    </application>
    <!-- 网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 读写 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
</manifest>